page-home {
	#snippet-area {
		background-color: rgba(0,0,0,.4);
		font-family: monospace;
		font-size: 1.2em;
		color: white;
		border-radius: 	2px;
	}

	#output-area {
		background-color: rgba(0, 0, 0, .5);
		font-family: monospace;
		font-size: 1.2em;
		color: white;
		border-radius: 	2px;
	}

	.home {
		background: #000428;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	$button-md-background-color: transparent;
}
